// Home page Works
.flex-caption {
	height: 2em;
	color: $dark-gold;
}
.view-works {
	@include clearfix;
	.works-item,
	.gallery-item {
		@include gallery (2 of 4);
		margin-bottom: $vert-spacing-unit;
		text-align: center;
		h2 {
			@include adjust-font-size-to(18px);
		}
		&.views-row-last {
			@include hide-element;
		}
	}
}

.view-display-id-works_slideshow {
	.slideshow-item {
		text-align: center;
	}
}

// Responsiveness
@include susy-breakpoint($bp-tablet, $tab-cols) {
	.view-works {
		.works-item,
		.gallery-item {
			@include gallery ($tab-cols / 3 of $tab-cols);
			&.views-row-last {
				@include show-element;
			}
		}
	}
}

@include susy-breakpoint($bp-desk, $desk-cols) {
	.view-works {
		.works-item,
		.gallery-item {
			@include gallery($desk-cols / 4 of $desk-cols);
			a {
				@include opacity(0.9);
				@include transition;
				&:hover {
					@include opaque;
					@include transition;
				}
			}
			&.views-row-last {
				@include hide-element;
			}
		}
	}
}