// Menu styles for penelopeboyd.com.

#block-system-main-menu {
	@include span(full);
	@include clearfix;
	margin-bottom: $vert-spacing-unit;
	.menu {
		.leaf {
			list-style:none;
		}
		li {
			@include opacity(0.95);
			padding: 0.2em 0 0.2em 0;
			background: $white;
			a,
			span {
				@include opaque;
				@include adjust-font-size-to(18px);
				border-left: 5px solid $white;
				padding: 0 0.2em;
				&:hover {
					text-decoration: none;
					border-left: 5px solid $light-grey;
					@include transition;
				}
			}
			li {
				text-align: left;
			}
			&.menuparent {
				&:after {
					content: '+';
					position: absolute;
					top: 25%;
					right: 0;
					font-weight: bold;
					color: $dark-gold;
				}
				ul {
					padding-left: 0 !important;
					border: 1px solid $light-grey;
					border-top: none;
					top: 45px;
				}
			}
		}
		.active {
			color: $dark-gold;
			border-left: 5px solid $dark-gold;
		}
	}
}

// Mobile menu styles
#block-system-main-menu {
	position: relative;
}
.top-menu-control {
    @include float-left;
    margin: 4px 15px 8px 8px;
    position: relative;
    a {
        display: block;
    }
    .icon-bar {
        @include border-radius(2px);
        background: $lighter-gold;
        display: block;
        height: 3px;
        width: 22px;
        +.icon-bar {
            margin-top: 4px;
        }
    }
    &+.menu.controlled {
        padding: 0;
        .hide-items {
            position: absolute;
            width: 100%;
            z-index: 10;
            @include opacity(0.95);
            top: 25px;
        }
    }
    
}