$black: RGBA(34, 34, 34, 1);
$white: #ffffff;
$dark-grey: #333333;
$grey: #b8b8b8;
$light-grey: #dddddd;
$lightest-grey: #f5f5f5;
$dark-gold: #86754d;
$lighter-gold: tint($dark-gold, 20%);
$lightest-gold: tint($dark-gold, 80%);
$bright-gold: #dfb800;
$sand: #EAE4CF;
$dark-blue: #03293D;