// Miscellaneous variables

// Border radius
$default-border-radius: 5px;

// Inner padding
$inner-padding: 20px;

// Vertical spacing (between blocks)
$vertical-spacing: 1em;

// Borders
$border: 1px solid $dark-blue;